body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: crimson;
}
#logout{
    height: 30px;
    width: 70px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
main{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* flex-direction: column; */
    justify-content: center;
}
/* button{
    width: 100px;
    align-self: center;
} */
button{
    margin: 15px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
button:hover{
    transition: 200ms;
    scale: 1.1;
    cursor: pointer;
}
#clearAll{
    width: 100px;
    background-color: firebrick;
    align-self: center;
}
ul{
    /* width: 100%; */
    align-self: center;
    list-style: none;
}
li{
    background-color: green;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.editar{
    width: 60px;
    color: white;
    padding: 4px;
    margin-left: 4px;
    /* display: inline; */
}
.excluir{
    width: 60px;
    color: white;
    padding: 4px;
    margin: 0;
    /* display: inline; */
}
/* .item{
    display: inline;
} */